################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstWebApp/.vs
/FirstWebApp/FirstWebApp/bin
/FirstWebApp/FirstWebApp/obj
/FirstMVCApp/.vs/FirstMVCApp
/FirstMVCApp/FirstMVCApp/bin/Debug/net7.0
/FirstMVCApp/FirstMVCApp/obj
/FirstMVCApp/.vs/ProjectEvaluation
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Debug/net8.0
/IdentityApp/IdentityApp/obj
/RolesApp/.vs/RolesApp
/RolesApp/RolesApp/bin/Debug/net8.0
/RolesApp/RolesApp/obj
